html {
  overflow-y: scroll;
}
html, body {
  background: #fff;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: Baskerville, Georgia, Times, serif;
  font-size: 100%;
}
.center {
  margin: 0 auto;
  width: 600px;
}
#header {
  background-image: -webkit-gradient(radial, 50% 50%, 120, 50% 50%, 800, from(#737067), to(#434037));
  background-image: -moz-radial-gradient(center, circle, #737067 0%, #434037 100%);
  background-color: #737067;
  height: 300px;
  position: relative;
}
#header .content {
  padding-top: 1em;
}
#header .contact {
  color: #939087;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  line-height: 1.75em;
}
#header .contact #title {
  color: #fff; 
  font-family: Lobster, serif;
  padding-top: 5.5em;
  text-align: center;
  text-shadow: #535047 4px 4px 0px;
}
#header .contact #title .g {
  font-size: 7em;
}
#header .contact #title .n {
  font-size: 6em;
  position: relative;
  top: -0.09em;
}
#header .contact #title .a {
  font-size: 5em;
  position: relative;
  top: -0.21em;
}
#header .contact #title .b {
  font-size: 4.5em;
  position: relative;
  top: -0.3em;
}
#header .contact #title .org {
  font-size: 2em;
  position: relative;
  top: -0.7em;
}
#header .contact a {
  border-bottom: 1px dotted #737067;
  color: #b3b0a7;
  text-decoration: none;
}
#header .contact a:hover {
  color: #e3e0d7; 
  border-bottom: 1px dotted #e3e0d7;
}
#header .contact a.icon {
  border: none;
  display: block;
  height: 32px;
  float: right;
  width: 32px;
}
#header .contact a.twitter {
  background: url(../images/twitter.png);
  margin-right: 0.5em;
}
#header .contact a.linkedin {
  background: url(../images/linkedin.png);
}
#header .contact a.github {
  background: url(../images/github.png);
  margin-right: 0.5em;
}
#header ul {
  bottom: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
}
#header li {
  float: left;
  position: relative;
}
#header li a {
  border: 1px solid transparent;
  color: #939087;
  display: block;
  font-family: FranchiseRegular, HelveticaNeue-Bold, 'League Gothic', Impact, sans-serif;
  font-size: 2em;
  padding: 3px 1em 2px 1em;
  line-height: 2em;
  margin-right: 0.25em;
  text-decoration: none;
}
#header li a:hover {
  background: #535047;
  color: #939087;
}
#header li a.active {
  background: #fff;
  color: #333027;
  text-shadow: none;
}
#body {
  padding-top: 1.5em;
}
#body .content {
  margin-top: 1.5em;
}
#body .content .entry {
  border-top: 1px solid #eee;
  padding: 0.75em 0.5em;
}
#body .content .text {
  margin-bottom: 0.5em;
}
#body .content .commit a {
  font-family: 'Courier New';
  font-size: 0.8em;
  font-weight: bold;
}
#body .content .entry a {
  color: #BB4A23;
  text-decoration: none;
}
#body .content .entry a:hover {
  text-decoration: underline;
}
#body .content .entry a.user {
  font-weight: bold;
}
#body .content .entry .title {
  padding-bottom: 0.5em;
}
#body .content .entry .title a {
  font-weight: bold;
}
#body .content .entry .forwarded {
  background: url(../images/forwarded.png);
  float: left;
  height: 14px;
  margin-top: 3px;
  margin-right: 4px;
  width: 18px;
}
#body .content .right {
  float: right;
}
#body .content .watchers {
  background: url(../images/watchers.png) no-repeat 0 -3px;
  padding-left: 18px;
  margin-left: 1em;
}
#body .content .forks {
  background: url(../images/forks.png) no-repeat 0 -3px;
  padding-left: 18px;
  margin-left: 1em;
}
#body .content .entry .meta {
  color: #a3a0a7;
  font-family: Cantarell, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Helvetica, Arial, sans-serif;
  font-size: 0.8em;
}
#body .content .entry .meta a {
  color: #a3a097;
}
#body .content .entry:hover {
  background: #f3f0e7;
}
#body #loader {
  background: url(../images/loader.gif) no-repeat 50%;
  height: 4em;
}
.hidden {
  display: none;
}
