html {
  overflow-y: scroll;
}
html, body {
  background: #ffffff;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: Baskerville, Georgia, Times, serif;
  font-size: 100%;
}
#panel .header {
  background: url(../images/header.jpg) center center;
}
#panel .header .content {
  color: #636057;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  height: 10em;
  margin: 0 auto;
  width: 600px;
}
#panel ul {
  list-style: none;
  padding: 0;
  position: relative;
  margin: 0 auto;
  width: 600px;
}
#panel li {
  float: left;
  position: relative;
}
#panel li a {
  background: #000;
  border: 1px solid transparent;
  color: #636057;
  display: block;
  font-family: FranchiseRegular, HelveticaNeue-Bold, 'League Gothic', Impact, sans-serif;
  font-size: 2em;
  padding: 3px 1em 2px 1em;
  line-height: 2em;
  margin-right: 0.25em;
  text-decoration: none;
  filter:alpha(opacity=60);
  -moz-opacity:0.60;
  opacity: 0.60;
}
#panel li a:hover {
  color: #5b584f;
  filter:alpha(opacity=80);
  -moz-opacity:0.80;
  opacity: 0.80;
}
#panel li a.active {
  background: #ffffff;
  color: #000;
  filter:alpha(opacity=100);
  -moz-opacity:1;
  opacity: 1;
}
#content {
  padding-top: 1.5em;
  margin: 0 auto;
  width: 600px;
}
#content .content {
  margin-top: 1.5em;
}
#content .content .entry {
  border-top: 1px solid #eee;
  padding: 0.5em;
}
#content .content .text {
  margin-bottom: 0.5em;
}
#content .content .entry a {
  color: #BB4A23;
  text-decoration: none;
}
#content .content .entry a:hover {
  text-decoration: underline;
}
#content .content .entry a.user {
  font-weight: bold;
}
#content .content .entry .title {
  padding-bottom: 0.5em;
}
#content .content .entry .title a {
  font-weight: bold;
}
#content .content .entry .forwarded {
  background: url(../images/forwarded.png);
  float: left;
  height: 14px;
  margin-top: 3px;
  margin-right: 4px;
  width: 18px;
}
#content .content .right {
  float: right;
}
#content .content .watchers {
  background: url(../images/watchers.png) no-repeat 0 -5px;
  padding-left: 18px;
  margin-left: 1em;
}
#content .content .forks {
  background: url(../images/forks.png) no-repeat 0 -5px;
  padding-left: 18px;
  margin-left: 1em;
}
#content .content .entry .meta {
  color: #999;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Helvetica, Arial, sans-serif;
  font-size: 0.8em;
}
#content .content .entry .meta a {
  color: #999;
}
#content .content .entry:hover {
  background: #f7f7f7;
}
#content #loader {
  background: url(../images/loader.gif) no-repeat 50%;
  height: 4em;
}
.hidden {
  display: none;
}
